@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --pink: #C82E9D;
  --purple-gradient: linear-gradient(to right, #C82E9D 20%, #92218c 100%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;

a {
  color: #2b2b2b;
  text-decoration: none;
}
}

body {
    font-family: "Montserrat";
    color: #2b2b2b;    
    background: #FFFFFF;
}

header {
  justify-content: center;
}

h1 {
  font-size: 0.7rem;
  display: inline-block;  
  white-space: nowrap; 
  padding: 0.5rem;
  border-right: .05em solid #9e2490;
  overflow: hidden;
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}  

.text-bold {
  font-weight: bold;
}

#navbar {
  width: 70%;
  position: fixed;
  top: 20px;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

#navbar.active {
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);  
}

.monospaced {
  font-family: monospace;
}

.burger-menu-btn {
  background-color: transparent;
  border: none;
  display: none;
}

.toggle-btn {
  gap: 0.3rem;
  padding: 0.3rem;
  margin: 0.5rem;
  border-radius: 7px;
  border: solid var(--pink) 2px;
  position: relative;
  display: flex;
  width: 10rem;
  margin-right: auto;
}

.toggle-btn::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: calc(50% - 0.3rem);
  height: calc(100% - 0.6rem);
  background: var(--pink);
  border-radius: 3px;
  transition: all 0.2s ease;
  z-index: 0;
}

.toggle-btn.right::before {
  transform: translateX(100%);
}

.toggle-item {
  padding: 0.3rem;
  cursor: pointer;
  z-index: 1;
  flex: 1;
  text-align: center;
  color: var(--pink);
  white-space: nowrap; 
}

.toggle-item.active {
  background-color: var(--pink);
  border-radius: 3px;
  color: white;
}

main section {
  padding: 2rem;
  min-height: 100vh;
  height: auto;
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.section-title {
  text-align: center;
}

.gradient-title {
  background: var(--purple-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-menu {
  list-style: none;
  gap: 2rem;
  justify-content: center;
  padding-top: 1.3rem;
}

.menu-item {
  text-transform: uppercase; 
}

.menu-item.active::after {
  content: '';
  width: 100%;
  height: 1px;
  display: inline-block;
  margin-bottom: 0.7rem;
  background-color: var(--pink);
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.menu-item::after {
  content: '';
  width: 100%;
  height: 1px;
  display: inline-block;
  margin-bottom: 0.7rem;
  background-color: var(--pink);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-item:hover::after {
  transform: scaleX(1)
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.hero-child {
  display: inline-block;
  text-align: left;  
}

.hero-child h1, .hero-child h2 {
  font-size: clamp(3rem, 5vw, 4rem);
}

.hero-child img {
  width: 70vh;
}

.hero-child h2 {
  color: #551378;
}

.github-btn {
  font-size: 2em;
  text-align: center;
  padding: 1rem;
  display: inline-flex;
  border: solid var(--pink) 2px;  
  cursor: pointer;
}

.github-btn a {
  color: var(--pink);
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;  
}

.github-btn a::after {
  content: ">";
  max-width: 0;  
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.github-btn:hover a::after {
  max-width: 20px;
  opacity: 1;
  margin-left: 10px;
}

.about {
  background: #02022B;
}

.flex-container {
  display: flex;
}

.about .flex-container {  
  justify-content: center;
  align-items: center;
}

.about-child {
  flex: 0 0 50%;
}

.about-image {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.about-image img {
  width: 60vh;
}

.about-table {
  border: solid #40106a 1px;
  padding: 0.7rem;
  width: auto;
  font-size: 0.9rem;
}

.about .grid-container {  
  border: solid #40106a 1px;
  border-radius: 0.5rem;
  font-size: 0.9rem; 
  display: grid;  
  grid-gap: 0.3rem;
  padding: 0.7rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(7, 1fr);
}

.image-container {
  background: linear-gradient(228deg,rgba(201, 47, 156, 1) 0%, rgba(93, 0, 113, 1) 100%);
  border-radius: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  width: fit-content;
}

.skills .flex-container {
  gap: 2rem;
  padding-top: 3rem;
}

.skill-item {
  border: solid rgba(162, 31, 171, 0.3) 1px;
  border-radius: 0.5rem; 
  width: 25%; 
  height: auto;
  padding: 2.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.skill-item img {
  width: 25%;
  max-width: 200px;
  height: auto;
}

.skill-item h3 {
  margin: 1rem;
}

.contact {
  background: #02022B;
}

.contact-box {
  gap: 2rem;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.contact img {
  width: 45%;
  max-width: 120px;
}

.contact h4 {
  text-transform: uppercase;
}

.contact-item {
  align-items: center;
}

.contact-item a {
  text-decoration: none;
  color: white;  
  background: linear-gradient(90deg, rgba(0, 0, 33, 1) 0%, rgba(9, 9, 71, 1) 35%, rgba(93, 20, 125, 1) 100%);  
}

.divider {
  width: 1px;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 33, 1) 0%, rgba(9, 9, 71, 1) 35%, rgba(93, 20, 125, 1) 100%);
  margin-left: 1rem;
  margin-right: 1rem;
}

line {
  stroke: white;
  stroke-width: 1px;
}

/* Animações */
@keyframes typing {
  from {width: 0}
  to {width: 14ch}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: #C82E9D;}
}

@keyframes gradient-moving {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsividade */
@media (max-width: 768px) {  
  .flex-container {
    flex-direction: column;
  }

  .hero-child img {
    opacity: 0;
  }

  .skill-item {
    width: auto;
  }

  /* Menu Hambúrguer */
  .burger-menu-btn {
    display: block;
    align-self: flex-end;
    top: 10px;
    right: 15px;
    position: absolute;
  }

  line {
    transition: all 0.3s ease-in-out;
    transform-box: fill-box;
    transform-origin: center;    
  }

  #burger-icon.active .line1 {
    transform: translateY(10px) rotate(45deg);
    stroke: #C82E9D;
  }

  #burger-icon.active .line2 {
    opacity: 0;
  }

  #burger-icon.active .line3 {
    transform: translateY(-10px) rotate(-45deg);
    stroke: #C82E9D;
  }

  .main-menu {
    position: absolute;
    top: -1000px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f2f2f2;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .main-menu.collapsed {
    top: 0;
  }

  .main-menu li {
    border-bottom: solid gainsboro 1px;
    width: 90%;
    align-self: center;
  }

  .menu-item {
    color: #C82E9D;
  }

  .menu-item:hover::after {
  transform: scaleX(0)
}
}